@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap");

@tailwind base;

* {
  scrollbar-width: 4px;
  scrollbar-color: rgb(#ffffff);
}

*::-webkit-scrollbar {
  width: 4px;
}

@tailwind components;
@tailwind utilities;

.backdrop {
  backdrop-filter: blur(40.774227142333984px);
}

@layer utilities {
  .bar::after {
    @apply content-[''] bg-[#FFFFFF] opacity-50 h-[3px] w-[0%] -bottom-[38px] absolute duration-300;
  }

  .bar:hover::after {
    @apply w-full;
  }

  .bar.active::after {
    @apply opacity-100 w-full;
  }

  .pulse::after {
    @apply content-[''] w-[450px] h-[450px] rounded-full bg-primary3 opacity-0 absolute transition-opacity duration-300;
  }
  .pulse:hover::after {
    @apply opacity-10;
  }

  .destinationBar::after {
    @apply content-[''] bg-[#FFFFFF] opacity-50 h-[3px] w-[0%] absolute top-8 left-0 transition-opacity duration-300;
  }

  .destinationBar:hover::after {
    @apply w-full;
  }
}
